@import './components/variables.scss';
@import './mixins';
@import './components/header.scss';
.App{
    background-color: $colprim;
    color: $textprim;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .body{
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include respond(phone) {
        .body img{
            width: 50%;
        }
    }
}
*{
    margin:0;
    padding:0;
}